# Koneksi Database (MySQL / PostgreSQL / SQLite dll)
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# Kunci Keamanan Sesi HTTP
# openssl rand -hex 32
SESSION_SECRET="your_very_long_random_session_secret_string"

# Set secure cookie (true untuk production HTTPS, false untuk IP/localhost HTTP)
COOKIE_SECURE=false
